html {
  position: relative;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: unset;
  /* overflow-y: hidden; */
}

body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;

  /* outline: 1px solid red; */
  font-family: 'Be Vietnam Pro', sans-serif;
}

:root {
  /* Primaries */
  --clr-dark-red: hsl(12, 88%, 59%);
  --clr-dark-red-active: hsl(12, 86%, 66%);
  --clr-dark-red-hover: hsl(12, 86%, 64%);
  --clr-dark-blue: hsl(228, 39%, 23%);

  /* Neutrals */
  --clr-dark-grayish-blue: hsl(227, 12%, 61%);
  --clr-very-dark-blue: hsl(233, 12%, 13%);
  --clr-very-pale-red: hsl(13, 100%, 96%);
  --clr-very-light-grey: hsl(0, 0%, 98%);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.super-container {
  display: flex;
  flex-direction: column;
  text-align: center;

  max-width: 1140px;
  min-width: 320px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: 100%;
  /* outline: 1px solid black; */
  z-index: 5;
}

.logo-container {
  margin-left: 1.33rem;
}
.--footer {
  margin: 1rem;
}
.logo {
  height: 17px;
}

.hamburger-menu-container {
  margin-right: 1.33rem;
}
.hamburger-menu {
  height: 16px;
}

.decoration-pill-container {
  position: relative;
  height: 1px;
  width: 100%;
  overflow: visible;
  z-index: -1;
}

.decoration-pill {
  position: absolute;
  height: 400px;
  right: 0;
  margin-top: -70px;
  margin-right: -70px;
}

.intro-illustration-container {
  overflow-y: hidden;
}

.intro-illustration {
  /* max-width: 375px;
  max-height: 340px; */
  width: 100%;
  max-width: 375px;
  overflow-y: hidden;
}

.intro-text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
  overflow: visible;
}

.intro-header {
  color: var(--clr-dark-blue);
  font-size: 2.2rem;
  margin: 0 2rem 0 2rem;
  font-weight: 700;
  font-family: 'Be Vietnam Pro', sans-serif;
}

.intro-description {
  color: var(--clr-dark-grayish-blue);
  font-size: 0.85rem;
  font-weight: 400;
  font-family: 'Be Vietnam Pro', sans-serif;
  width: 70%;
  line-height: 1.5rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.second-intro-text-container {
  align-items: center;
  justify-content: center;
}

.second-intro-description {
  width: 100%;
  padding: 0 1rem 0 1rem;
}

.decoration-pill-container2 {
  height: 1px;
  width: 1px;
  /* overflow: hidden; */
  z-index: -1;
}

.decoration-pill2 {
  position: absolute;
  height: 250px;
  right: 0;
  margin-right: -100px;
  /* margin-top: -100px; */
}

.get-started-button-container {
  margin-top: 2rem;
  width: 100%;
  height: 65px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.get-started-button {
  width: 130px;
  height: 40px;
  /* margin-top: 1rem; */
  background-color: var(--clr-dark-red);
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 20px;
  border: unset;
  box-shadow: var(--clr-dark-red) 0px 10px 25px -10px;
}
.get-started-button:active {
  background-color: var(--clr-dark-red-active);
}
.get-started-button:hover {
  background-color: var(--clr-dark-red-hover);
}

.section-divider {
  height: 60px;
}

.second-header {
  font-size: 1.5rem;
}

.features-container {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-width: 500px; */
}

.feature-header-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  /* background-color: red; */
  height: 40px;
  margin-top: 2rem;
}

.feature-header {
  display: flex;
  width: 95%;
  /* max-width: 600px; */
  background-color: var(--clr-very-pale-red);
  border-radius: 20px 0 0 20px;
}

.feature-number {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--clr-dark-red);
  width: 60px;
  border-radius: 20px;
}

.feature-header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  font-weight: 700;
  color: var(--clr-very-dark-blue);
}

.feature-text {
  /* width: 90%; */
  display: flex;
  text-align: left;
  margin: 1rem;
  color: var(--clr-dark-grayish-blue);
  /* max-width: 650px; */
  font-size: 0.85rem;
  line-height: 1.6rem;
}

.testimonials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.testimonials-header {
  width: 100%;
  font-size: 2.7rem;
  font-weight: 700;
  margin-bottom: 4rem;
  color: var(--clr-dark-blue);
}

.testimonial-indicator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;

  /* outline: 1px red solid; */
}

.testimonial-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 20px;

  /* outline: 1px red solid; */
}

.testimonial-dot {
  width: 8px;
  height: 8px;
  margin: 3px;
  border-radius: 5px;

  outline: 1px var(--clr-dark-red) solid;
}

.--viewing {
  background-color: var(--clr-dark-red);
}

@media (min-width: 600px) {
  .feature1-header-container {
    display: flex;
    flex-direction: row-reverse;
  }

  .feature1-header {
    display: flex;
    flex-direction: row-reverse;
    border-radius: 0 20px 20px 0;
  }

  .feature1-number {
    margin-left: 1rem;
    border-radius: 20px;
  }

  .feature-text {
    text-align: center;
  }

  .feature1-text {
    /* text-align: right; */
  }
}

@media (min-width: 800px) {
  .super-container {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .header {
    position: relative;
    margin-bottom: 4.5rem;
    height: unset;
  }
  .logo-container {
    padding: 3rem;
    padding-left: 0rem;
    margin-left: 0rem;
  }
  .logo {
    height: 28px;
  }

  .header-links-container {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-link {
    color: var(--clr-dark-blue);
    font-weight: 500;
    font-size: 0.8rem;
    padding: 0.85rem;
  }

  .get-started-button-header-container {
    overflow: visible;
    margin: 1rem;
    z-index: 99;
  }
  .decoration-pill-container {
    position: relative;
    height: 1px;
    width: 100%;
    overflow: visible;
    z-index: -1;
  }

  .decoration-pill {
    position: absolute;
    height: 800px;
    right: 0;
    margin-top: -270px;
    margin-right: -160px;
  }

  .intro-container {
    display: flex;
    flex-direction: row-reverse;
  }

  .intro-illustration-container {
    overflow: visible;
    width: 50%;
  }

  .intro-illustration {
    max-height: 500px;
    /* width: 500px; */
    max-width: unset;
  }

  .intro-content-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .intro-text-container {
    text-align: left;
    align-items: flex-start;
    margin-top: 2.5rem;
  }

  .intro-header {
    text-align: left;
    margin: 0rem;
    width: 80%;
    font-size: 3.3rem;
  }

  .intro-description {
    font-size: 1rem;
    line-height: 1.7rem;
    width: 60%;
  }

  .get-started-button {
    height: 45px;
    border-radius: 24px;
  }

  .second-intro-features-container {
    display: flex;
  }

  .second-intro-text-container {
    width: 50%;
  }

  .all-features-container {
    width: 50%;
  }

  .second-header {
    font-size: 2.5rem;
  }

  .second-intro-description {
    text-align: left;
  }

  .feature1-header-container {
    display: flex;
    flex-direction: unset;
    margin-top: 0.5rem;
  }

  .feature1-header {
    display: flex;
    flex-direction: unset;
    border-radius: unset;
  }

  .feature1-number {
    margin-left: unset;
    border-radius: unset;
  }

  .feature-header {
    background-color: unset;
  }

  .feature-number {
    width: 70px;
    border-radius: 20px;
  }

  .feature-text {
    padding-left: 6.3rem;
    text-align: left;
  }

  .decoration-pill-container2 {
    position: relative;
    height: 1px;
    width: 100%;
    overflow: visible;
    z-index: -1;
  }

  .section-divider {
    height: 130px;
  }

  .decoration-pill2 {
    position: absolute;
    height: 400px;
    right: 0;

    margin-top: 500px;
    margin-right: 400px;

    height: 750px;
  }

  .testimonials-container {
    overflow: hidden;
    /* width: 1140px; */
    position: relative;
    height: 430px;
  }

  .all-testimonials {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;

    /* overflow: hidden; */
    height: 330px;
    max-width: 1140px;
  }

  .testimonial-text-container {
    width: 460px;
  }

  .fade-out {
    position: absolute;
    bottom: 0;
    height: 330px;
    width: 100%;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 0%,
      rgba(121, 9, 9, 0) 22%,
      rgba(121, 9, 9, 0) 78%,
      rgba(255, 255, 255, 1) 100%
    );
    z-index: 999;
  }

  .fade-out:hover {
    animation-play-state: paused;
  }
}

/* @media (max-width: 350px) {
} */
