.testimonial-container {
  /* height: 420px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* outline: 1px solid black; */
  /* background-color: red; */
  overflow-x: visible;
  max-width: 500px;
}

.testimonial-container:hover {
  cursor: pointer;
}

.pfp-container {
  /* position: relative; */
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: visible;
}

.pfp {
  height: 65px;
  position: absolute;
  margin-bottom: -25px;
  overflow-x: visible;
}

.testimonial-text-container {
  background-color: var(--clr-very-light-grey);
  height: 270px;
  border-radius: 5px;
  margin: 1rem;
  margin-top: 0rem;
  padding-top: 3rem;
}

.testimonial-name {
  color: var(--clr-dark-blue);
  font-size: 1.2rem;
}

.testimonial-text {
  color: var(--clr-dark-grayish-blue);
  font-size: 0.9rem;
  line-height: 1.8rem;
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.slide-out {
  animation: slide-out 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-out {
  0% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(100vw) scale(0.85);
    opacity: 0;
  }
}

.slide-in {
  animation: slide-in 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100vw) scale(0.75);
    opacity: 0;
  }
  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

.slide-around {
  animation: slide-around 35s linear infinite;
}

.--pause {
  animation-play-state: paused;
}

@keyframes slide-around {
  0% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(970px);
  }
}
